// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$primary-color: #784AD4;
$background-color: #110E17;
$background-light-color: #1e1626;
$font-color: #fff;
$secondary-color: #3E8AD1;
$subtext-color: rgba(#fff , 0.5);
$border-color: rgba(#fff, 0.1);
$error-color: #EF5A5C;